div {
	margin:20px;
	border:5px solid;
	width:450px;
	height:450px;
}

div.grad{
	background-image: linear-gradient(bottom, rgb(44,20,224) 13%, rgb(144,209,209) 50%);
	background-image: -o-linear-gradient(bottom, rgb(44,20,224) 13%, rgb(144,209,209) 50%);
	background-image: -moz-linear-gradient(bottom, rgb(44,20,224) 13%, rgb(144,209,209) 50%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,20,224) 13%, rgb(144,209,209) 50%);
	background-image: -ms-linear-gradient(bottom, rgb(44,20,224) 13%, rgb(144,209,209) 50%);
}